<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>


    <test name="Login Page">
        <classes>
            <class name="testcases.LoginTest"/>
        </classes>
    </test>
    <test name="CheckOut Page">
        <classes>
            <class name="testcases.CheckoutPageTest"/>
        </classes>
    </test>
    <test name="Search Result Page">
        <classes>
            <class name="testcases.SearchResultTest"/>
        </classes>
    </test>
    <test name="Sample test">
        <classes>
            <class name="testcases.SampleTest"/>
        </classes>
    </test>
</suite>